@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Slab:wght@300;400;700&display=swap');

:root {
  --font-pri: 'Montserrat', sans-serif;
  --font-sec: 'Roboto Slab', serif;
  --font-color-pri: #0290ff;
  --font-color-sec: #121212;
}

body {
  background-color: #f5f6fa;
  margin: 2em;
}

